{% extends "base.html" %}

{% block content %}
<div class="app-layout">

{% include "partials/sidebar.html" %}

    <!-- ===== MAIN ===== -->
    <main class="main-content">

{% include "partials/topbar.html" %}

{% include "partials/pages/dashboard.html" %}
{% include "partials/pages/drone.html" %}
{% include "partials/pages/inventory.html" %}
{% include "partials/pages/production.html" %}
{% include "partials/pages/workorders.html" %}
{% include "partials/pages/history.html" %}

    </main>
</div>

{% include "partials/modals/add_filament.html" %}
{% include "partials/modals/new_spool_id.html" %}
{% include "partials/modals/update_weight.html" %}
{% include "partials/modals/files.html" %}
{% include "partials/modals/upload.html" %}
{% include "partials/modals/assign_spool.html" %}
{% include "partials/modals/job_detail.html" %}
{% include "partials/modals/maintenance.html" %}
{% include "partials/modals/queue_print.html" %}
{% endblock %}
